@if (contactSec) {
    <section class="contact section bd-container" id="contact">
        <div class="contact__container bd-grid">
            <div class="contact__data">
                <span class="section-subtitle contact__initial">{{contactSec.tag}}</span>
                <h2 class="section-title contact__initial">{{contactSec.title}}</h2>
                <p class="contact__description">{{contactSec.desc}}</p>
            </div>
    
            <div class="contact__button">
                <a class="button" (click)="navigate(contactSec.btn.link)">{{contactSec.btn.text}}</a>
            </div>
        </div>
    </section>
}